@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container
{
   display: flex;
   flex-direction: column;
}

header
{
   background-color: #f5f5f5;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex: 1 1 100%;
}

.bonjour
{
   margin: 10px;
   width: 100px;
}

ul
{
   display: flex;
   flex-direction: row;
   list-style: none;
}

li
{
   margin: 21px;
   /* Line-height : ajuste automatiquement la position du texte dans un bloc au milieu */
   line-height: 89px;
}

.txt
{
   font-family: "Roboto", sans-serif;
}

.t-s
{
   font-size: 16px;
}

.chair-1
{
   display: flex;
   flex-direction: row;
}

.chair
{
   object-fit: cover;
   width: 50%;
}

.chair-txt
{
   background-color: #fff;
   background-size: 50vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
}

h1, h2
{
   font-size: 100px;
}

.bg-fond
{
   align-content: center;
   background-image: url("../img/motif.jpg");
   height: 40vh;
}

.fond
{
   align-content: center;
}

.color
{
   color: #fff;
   text-align: center;
}

.t-f
{
   /* padding: 0 37%; */
   text-align: left;
   width: 900px;
}

.chairs
{
   height: 50vh;
   display: flex;
}

.black
{
  object-fit: cover;
   width: 50%;
}

.tabouret
{
   object-fit: cover;
   width: 19%;
}

.chair-2
{
   object-fit: cover;
   width: 31%;
}

h3
{
   font-size: 34px;
   padding: 15px;
}

.logos
{
   display: flex;
   align-content: center;
   justify-content: space-between;
   align-items: center;
   padding: 15px 37%;
}

@media screen and (max-width: 620px)
{
   header
   {
      justify-content: space-between;
      align-items: center;
      padding: 14px;
   }

   ul
   {
      flex-direction: column;
   }

   li
   {
      line-height: 34px;
      margin: 0;
      text-align: right;
   }

   .chair
   {
      display: none;
   }

   .chair-txt
   {
      background-image: url("../img/chair-1-c.jpg");
      object-fit: cover;
      background-repeat: no-repeat;
      flex: 1 1 100%;
      height: 49vh;
   }

   .t-a
   {
      padding-left: 4%;
      text-align: left;
   }

   .t-f
   {
      padding: 0 4%;
   }

   .chairs
   {
      flex-direction: column;
      flex: 1 1 100%;
      height: 33.333%;
      /* width: 100%; */
   }

   /* .black
   {
      height: 10vh;
      width: 100%;
   }

   .tabouret
   {
      height: 10vh;
      width: 100%;
   }

   .chair-2
   {
      height: 10vh;
      width: 100%;
   } */

   .fond-2
   {

      padding: 0;

   }

   .logos
   {
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
      width: 100vw;
   }

   .f-f
   {
      margin: 0 30px;
   }
}

@media screen and (max-width: 1679px) {
  
   .logos
   {
      padding: 4% 18%;
   }

}