body
{
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
   flex-wrap: wrap;
   /* height: 100vh; */
   /* width: 100vw; */
}

.container
{
   height: 400px;
   width: 25%;
   color: #fff;
   font-size: 79px;
   font-weight: 800;
   padding-top: 34px;
   text-align: center;
}

.f1
{
   background-color: salmon;
}

.f2
{
   background-color: lightblue;
}

.f3
{
   background-color: yellow;
}

.f4
{
   background-color: lightgreen;
}

.f5
{
   background-color: blueviolet;
}

.f6
{
   background-color: black;
}

.f7
{
   background-color: orange;
}

.f8
{
   background-color: grey;
}

@media screen and (max-width: 824px)
{
   .container
   {
      /* height: 300px; */
      /* max-width: 168px; */
      max-width: 100px;
   }
}
  