body{
   background-color: #f3f3f3;
 }

 section{
   width: 85%;
   min-height: 100vh;
   margin: 6.3% auto;
   background-color: #fff;
 }

 .box{
   background-color: lightblue;
   width: 150px;
   height: 150px;
   margin-top: 200px;
   transition: all .8s ease;
 }

 .translate:hover{
   /* transform: translateX(400px); 
   transform: translateY(400px); */
   transform: perspective(500px) translate3d(10px, 0, -100px);
   /* transform: translate(200px, 400px); */
   
 }

 .scale:hover{
   /* transform: scale(.5);
   transform: scale(2); */
   /* transform: scaleX(2); */
   transform: scaleY(2);
 }


 .rotate:hover{
   transform-origin: 90% 50%;
   transform: rotate(45deg);
 }

 .skew:hover{
   transform: skewX(45deg) skewY(50deg);
 }